* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
  background-color: #1a1a1a;
  color: aliceblue;
  font-family:Arial, Helvetica, sans-serif;
  padding-bottom: 50px;
  line-height: 1,6px;
}
h1,h2,h3,h4
{
  text-align: center;
  color: #f1c40f;
  margin-top: 20px;
  margin-bottom: 10px;
}
ul
{
list-style: none;
text-align: center;
padding: 0px;
}
li
{
  margin: 10px auto;
  font-size: 18px;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  width: 400px ;
  border: 1px solid #333;
}
img
{
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}
p
{
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #e0e0e0;
}
form
{
  background-color: #222;
  max-width: 500px;
  margin: 0px auto;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #ffcc00;
}
label
{
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #f1c40f;
}
input[type="text"],textarea
{
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  padding: 10px;

}
input[type="submit"] {
    background-color: #ffcc00; /* ذهبي */
    color: #000; /* نص أسود */
    font-weight: bold;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer; /* تغيير شكل الماوس ليد */
    font-size: 1.2rem;
}
input[type="submit"]:hover
{
text-decoration: underline;}
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #4da6ff; /* لون أزرق فاتح */
    text-decoration: none;
    font-size: 1.1rem;
}
a:hover
{
  text-decoration: underline;
}